body {
  font-family: Open sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

header {
  color: #00A79D;
  font-family: 'Roboto Slab';
  font-size: 25px;
  margin: 0px auto;
}

main {
    background-color: #E5F3F2;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.body {
  padding-bottom: 80px;
}

.box {
  color: #6D6E71;
}

.input {
  border:1px solid #939598;
  font-size: 18px;
  margin: auto;
  margin-top: 20px;
  padding-left: 5px;
  width: 70%;
}

.submit {
  display: block;
  background-color: #00A79D;
  color: #ffffff;
  font-size: 18px;
  height: 35px;
  margin: 20px auto;
  padding: 5px 25px;
  width:  70vw;
}

.submit:hover {
  background-color: #045E55;
}

.submit:disabled {
  background-color: #045E55;
}

.idea-field{
  display: flex;
  flex-direction: column;
  /*padding: 20px;*/
}

.entry {
  border-bottom: 1px solid #D1D3D4;
  font-size: 18px;
  margin: auto;
  text-align: left;
  width: 232px;
}

.entry p{
  color: #939598;
}

.title {
  color: #6D6E71;

}






/*Media Queries*/
@media screen and (min-width: 480px) {

  header{

    font-size: 35px;
  }
}

@media screen and (min-width: 600px) {

  header{
    font-size: 40px;
  }

}


@media screen and (min-width: 720px) {

  header{
    font-size: 50px;
  }
}
