body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-align: center;
}

main {
    background-color: #E5F3F2;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

header {
  color: #00A79D;
  font-family: 'Roboto Slab';
  font-size: 25px;
  margin: 0px auto;
}

.input {

  border:1px solid #939598;
  margin: auto;
  margin-top: 20px;
  padding-left: 5px;
  font-size: 18px;
  width: 70%;
}

.submit {
  display: block;
  background-color: #00A79D;
  color: #ffffff;
  padding: 5px 25px;
  width:  70vw;
  margin: 20px auto;
  height: 35px;
  font-size: 18px;
}


.submit:hover{
  background-color: #045E55;
}

.submit:disabled {
  background-color: #045E55;
}

.body {
  /*height: auto;*/
  padding-bottom: 80px;
}

.box {
  color: #6D6E71;
}


/*Media Queries*/
@media screen and (min-width: 480px){
  header{

    font-size: 35px;
  }
}

@media screen and (min-width: 600px){
  header{
    font-size: 40px;
  }

}


@media screen and (min-width: 720px){

  header{
    font-size: 50px;
  }
}
