body {
  font-family: Open sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

header {
  color: #00A79D;
  font-family: 'Roboto Slab';
  font-size: 25px;
  margin: 0px auto;
}

main {
    background-color: #E5F3F2;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

article .entry{
  width: 10px;
}

.body {
  padding-bottom: 80px;
}

.box {
  color: #6D6E71;
}

.input {
  border:1px solid #939598;
  font-size: 18px;
  margin: auto;
  margin-top: 20px;
  padding-left: 5px;
  width: 70%;
}

.submit {
  display: block;
  background-color: #00A79D;
  color: #ffffff;
  font-size: 18px;
  height: 35px;
  margin: 20px auto;
  padding: 5px 25px;
  width:  73vw;
}

.submit:hover {
  background-color: #045E55;
}

.submit:disabled {
  background-color: #045E55;
}

.idea-field{
  display: flex;
  flex-direction: column;
}

.entry {
  border-bottom: 1px solid #D1D3D4;
  font-size: 18px;
  margin: auto;
  text-align: left;
  width: 70vw;
}

.entry p, .quality{
  color: #939598;
}

.quality {
  margin-left: 25px;
  padding-bottom: 15px;
}

.title {
  color: #6D6E71;
  display: inline-block;
}

.up, .down, .delete {
  border: none;
  background: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.delete{
  background: url('images/delete.svg');
  float: right;
  margin-top: 35px;

}

.up{
  background: url('images/upvote.svg');
}

.down{
  background: url('images/downvote.svg');
}

.delete:hover, .up:hover, .down:hover{
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 25px;
}


.up:hover {
  background: transparent url('images/upvote-hover.svg');

}

.down:hover {
  background: transparent url('images/downvote-hover.svg');
}

.delete:hover {
  background: transparent url('images/delete-hover.svg');
}



/*Media Queries*/
@media screen and (min-width: 480px) {

  header {
    font-size: 35px;
  }
  .input {
    padding: 15px;
  }

  .submit {
    padding: 27px 25px;
    width: 76vw;
  }

  .entry {
    width: 76vw;
  }
}

@media screen and (min-width: 600px) {

  header{
    font-size: 40px;
  }

  .submit {
    padding: 27px 25px;
    width: 76vw;
  }

  .entry {
    font-size: 120%;
    width: 74vw;
  }

}


@media screen and (min-width: 720px) {

  header{
    font-size: 53px;
  }

  .input{
    font-size: 120%;
  }

  .submit {
    padding: 27px 25px;
    width: 78vw;
  }

  .entry {
    font-size: 150%;
    width: 72%;
  }

  .submit {
    padding: 27px 25px;
    width: 73vw;
  }
}
